{% extends 'catalog/base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}
<div class="card" style="width: 18rem;">
    <img src="{{ object.image | my_media }}" onError="this.src= '/static/images/product_plug.png'"
         class="card-img-top" alt="">
    <div class="card-body">
        <h4 class="card-title">{{ object.name }}</h4>
        <h5 class="card-title">Цена: {{object.price}}</h5>
        <p class="card-text">{{ object.description }}</p>
        <p class="card-text">Текущая версия: {{ current_version.version_name }}</p>
    </div>
    <div class="card-body">
        <a href="{% url 'catalog:product_update' object.pk %}" type="button" class="btn btn-lg btn-block btn-outline-primary">Редактировать</a>
    </div>
    <div class="card-body">
        <a href="{% url 'catalog:product_delete' object.pk %}" type="button" class="btn btn-lg btn-block btn-outline-primary">Удалить</a>
    </div>
</div>
{% endblock %}